<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>福润堂 预约</title>
  
  <link rel="stylesheet" href="css/app.css">
  <style type="text/css">
    input.ng-invalid.ng-dirty, input.ng-invalid.ng-invalid {
      background-color: yellow;
    }
  </style>
  
  <script type="text/javascript" src="lib/angular.js"></script>
  <script type="text/javascript" src="node_modules/underscore/underscore.js"></script>
  <script type="text/javascript" src="js/FRT_booking.js"></script>
</head>
<body ng-app="inputApp" ng-controller="Ctrl" >
  <span id='debug_area' style='display:none;'> 开发人员专用区域，按  `  键(ESC键下面那个键)，就可隐藏。  
    <input type="button" value=" 测试:  " onclick="test001()"  />
    <input type="button" value=" 测试: 填充数据 " ng-click="test_fill()"  />
    <button ng-click="ifNoDB()" style="float:right;" >连接数据库</button>
    <button ng-click="getHistory()" style="float:right;" ng-Disabled="noDB" >获取病历</button>
    
  </span>
  <h1 style="">
    福润堂 预约 <div class="msg">{{datas.msg }}</div>
    
  </h1> 
  <div style="float:left;width:750px;">
    <span style="float:left;"   >
      选择日期：<input type="date" ng-model="selected_date" ng-change="loadBooking()" style="width:150px" />
      <button ng-hide="true"  ng-click="make_no()" > 生成病历号 </button>
    </span>

    <br/><br/>
    <table  style="" >
      <tr>
        <th style="width:50px;">预约<br>编号</th>
        <th style="width:140px;">门诊号</th>
        <th style="width:80px;">病历号</th>
        <th style="width:80px;">姓名</th>
        <th style="width:40px;"></th>
        <th style="width:100px;">联系电话</th>
        <th style="width:80px;"></th>
        <th style="width:80px;">医师</th>
        <th style="width:150px;">患者备注</th>  
        <th style="width:150px;">预约备注</th>
        <th style="width:40px;"></th>
        
      </tr>
      <tr ng-repeat="obj in datas.bookinglist " ng-style="show_color[obj.index]"  >
        <td align="center"  >  {{obj.index}}</td>
        <td>{{obj.case_no}}</td>
        <td>{{obj.patient_no}}</td>
        <td>{{obj.name}}</td>
        <td><input type="button" id="prt_{{obj.index}}" ng-click="goPrint( obj )"  value="打印">  </td>
        <td>{{obj.mobile}}</td>
        <td>  <input type="button" ng-click="goSms(obj)"  value="发短信"> {{obj.sms_num}} </td>
        <td>{{obj.doctor_name}}</td>
        <td>{{obj.remark}}</td>
        <td>{{obj.comment}}</td>
        <td><input type="button" ng-click="goEdit( $index )" ng-hide="datas.isUpload" value="修改">  </td>
        
      </tr>
    </table>
    <br/>
    <input type="button" ng-click="addLine(5)"  value=" 再加 5 行 ">
    <br><br>
    <input type="button" ng-click="upload_Booking()"  value=" 保存到服务器 ">
    <br><br> 
  </div>

  <div class='to_top'  ng-show="edit_area" >
    <h3 style="">编辑预约信息</h3>
    预约日期：<input type="text"   ng-model="show_date"  readonly style="width:150px" />
    <br/>
    医师姓名：<input type="radio" name="doctor_name" ng-model="fields.doctor_name" value="张耀">  张耀
    <input type="radio" name="doctor_name" ng-model="fields.doctor_name" value="马永泽">  马永泽
    <br/>
    病历号:     <input  type="text" id="id_1"  ng-model="fields.patient_no"  style="width:80px" ng-readonly="true" /> 
    <br/>
    姓名:     <input  type="text" id="id_2"  ng-model="fields.name" style="width:60px" required ng-readonly="edit_area_ReadOnly" required/> &nbsp;&nbsp;&nbsp;
    性别:     <input  type="text" id="id_3"  ng-model="fields.sex" style="width:25px" ng-readonly="edit_area_ReadOnly" required/> &nbsp;&nbsp;&nbsp;
    年龄:     <input  type="number" id="id_4"  ng-model="fields.age" style="width:40px" ng-readonly="edit_area_ReadOnly" ng-pattern="/[0-9.]/" required/> &nbsp;&nbsp;&nbsp;
    <br/>
    电话：<input type="tel" id="id_5" ng-model="fields.mobile" ng-pattern="/[0-9]/" style="width:100px" ng-readonly="edit_area_ReadOnly" required /> &nbsp;

    备注：<input type="tel" id="id_6" ng-model="fields.remark"  style="width:100px" ng-readonly="true" />
    <br/>
    <input  type="hidden"   ng-model="fields.case_no"  style="width:80px" readonly />

    预约备注:     <textarea  ng-model="fields.comment"  id="id_7"     style="width:181px"   ></textarea><br/>

    <br>    
    <input type="button" value=" 保存 "  ng-click="saveBooking()"  /> 
    <input type="button" value="初次就诊"   ng-click="goNewPatient()"  /> 
    <!--
    <input type="button" value="修改信息 "  ng-click="goEditPatient()"   /> 
    -->
    <input type="button" value=" 取消 "  ng-click="hideEdit()" style="float:right;" />
    <br><br>

    <table width="100%">

      <tr><th colspan="6">搜索: <input  type="text" id="id_a" ng-model="search_name" style="width:160px" autofocus /></th>
      </tr>
      <tr><th>编号</th><th>姓名</th><th>性别</th><th>年龄</th><th>电话</th><th></th></tr>
      
      <tr ng-repeat="custom in allCustomer|filter: search_name| limitTo: 10 ">
        <td>{{custom.patient_no}}</td>
        <td>{{custom.patient_name}}</td>
        <td>{{custom.sex}}</td>
        <td>{{custom.age}}</td>
        <td>{{custom.mobile}}</td>
        <td><button ng-click="goFill( custom.patient_no )">选定</button></td>
      </tr>
    </table>

    <br><br>  <br><br>  <br><br>  <br><br>  <br><br>  
    
  </div>
  <h1 id="auto_hide_msg" ng-show="flag_msg_show" style="text-align:center;padding-top: 50px;" > 保 存 成 功 </h1>
  
  <script type="text/javascript">
    var serverUrl = "http://192.168.1.2:8080";
    var inputApp = angular.module('inputApp', []);

    function Ctrl($scope, $http) {
      $scope.fields = {};
      $scope.datas = {};
      $scope.datas.isUpload = false;
      $scope.noDB = true;
      $scope.flag_msg_show = false;

      $scope.fields.patient_id = "";
      $scope.fields.patient_no = "";
      $scope.fields.name = "";
      $scope.fields.mobile = "";
      $scope.fields.age = "0";
      $scope.fields.sex = "";
      $scope.fields.comment = "";
      $scope.fields.remark = "";
      $scope.fields.sms_num = 0;

      $scope.edit_area = false;
      $scope.edit_area_ReadOnly = true;   // 这个flag同时用来Readonly和在保存时判断是否需要保存到 new_custom.json 中。
      $scope.show_date = '';

      $scope.show_color = [];   // 用来设置特定行的颜色
      $scope.show_color[1] = {'background-color':'#FE8'};
      $scope.show_color[4] = {'background-color':'#FE8'};
      $scope.show_color[10] = {'background-color':'#FE8'};
      //$scope.show_color[11] = {'background-color':'#FE8'};
      $scope.show_color[14] = {'background-color':'#FE8'};
      $scope.show_color[17] = {'background-color':'#FE8'};
      $scope.show_color[18] = {'background-color':'#FE8'};
      //$scope.show_color[23] = {'background-color':'#FE8'};
      //$scope.show_color[24] = {'background-color':'#FE8'};
      $scope.show_color[25] = {'background-color':'#FE8'};
      //$scope.show_color[34] = {'background-color':'#FE8'};
      

      var objDate = new Date(); 
      //$scope.fields.treat_date = objDate;
      // 日期加一天，预约一般都是预约明天的。
      $scope.selected_date = new Date(objDate.valueOf() + 1 * 24 * 3660 * 1000);

      $scope.loadBooking = function() {
        var aJson = "";  
        //
        var strFilename = getBookingFilename($scope.selected_date) ;
        //console.log(strFilename);

        // 从服务器取预约数据
        $http.get( serverUrl + '/getBooking?filename=' + strFilename)
            .success(function(data) {
              $scope.datas = data;
            })
            .error(function(data, status, headers, config) {
              console.log(data);
              var temp_err = '{"flag":"error","error_no":"20001","msg":"Front end Error."}';
              $scope.datas = temp_err;
            });
        //$scope.$apply();
        //console.log("log 001:" + $scope.datas.msg);
      };

      $scope.getAllCustom = function(){
        // 从服务器取所有Customer 信息
        $http.get( serverUrl + '/getCustomer')
            .success(function(data) {
              $scope.allCustomer = data;
            })
            .error(function(data, status, headers, config) {
              console.log(data);
              var temp_err = '{"flag":"error","error_no":"20001","msg":"Front end Error."}';
              $scope.datas = temp_err;
            });
        // var  oldCustom = readFileToJson("./data/allCustomer.json");
        // // console.log(oldCustom);
        // var  newCustom = readFileToJson("./data/new_custom.json");
        // // console.log(newCustom);
        // return _.union(oldCustom, newCustom);
      };

      
      $scope.getAllCustom();

      $scope.saveBooking = function() {

        // 检查必选项，如果为空，不予保存
        if(isblank($scope.fields.name) || isblank($scope.fields.patient_no)){
          alert("病历号和姓名不能为空。");
          return false;
        }
        else if(isNaN($scope.fields.age)){
          alert("年龄请输入整数数字，不要包含文字。");
          $scope.fields.age=0;
          return false;
        }

        // if( ! $scope.fields.hasOwnProperty("sms_num")){
        //   $scope.fields.sms_num = 0;
        // }
        $scope.datas.bookinglist[$scope.fields.index-1] = $scope.fields;
        
        postData = $scope.datas;
        //console.log($scope.datas);
        var config = {}; 
        $http.post( serverUrl + '/saveBooking',  postData)
          .success(function(data, status, headers, config) {
            //console.log(data);  
            console.log("upload successful. " + data);
          })
          .error(function(data, status, headers, config) { 
            console.log(data);
            console.log(status);
            console.log(headers);
            console.log(config);
            console.log("upload error.");  
              
          });  

        // 如果是新来的病人，或者信息有修改，保存内容到  new_custom.json 文件中。
        if( $scope.edit_area_ReadOnly === false ){
          $scope.edit_area_ReadOnly = true;
          var tempCustom = {};
          tempCustom.patient_no = $scope.fields.patient_no;
          tempCustom.patient_name = $scope.fields.name;
          tempCustom.mobile = $scope.fields.mobile;
          tempCustom.sex = $scope.fields.sex;
          tempCustom.age = $scope.fields.age;
          tempCustom.remark = $scope.fields.remark;

          // 检查 new_custom.json 是否存在。
          var filename = 'data/new_custom.json';
          if( ! fs.existsSync( filename ) ){
            console.log( "The file " + filename + " not exists." );
            fs.writeFileSync(filename,"[]");
          }
          appendToJsonFile( "data/new_custom.json", tempCustom );

          // 并且重新读入全部患者信息。
          $scope.getAllCustom();
        }

        $scope.flag_msg_show = true;
        setTimeout(function(){
          $scope.flag_msg_show = false;
          $scope.$apply();
        },1000);

        //$scope.loadBooking();
        $scope.fields = {};
        $scope.edit_area = false;
      };

      
      $scope.hideEdit = function() {
        $scope.fields = {};
        $scope.edit_area = false;
      };

      $scope.goPrint = function(obj){

        obj.comment = "已经打印  " + obj.comment;
        var aStr = JSON.stringify($scope.datas);
        fs.writeFileSync( getBookingFilename($scope.selected_date), aStr);

        window.open("print.html?" + obj.index + ","+ obj.name + ","+ obj.case_no+ ","+ obj.doctor_name,
          "Print", "width=200,height=320,location=no,directories=no,menubar=no,resizable=no,toolbar=no");
      };

      $scope.goSms = function(obj){
        var mobile = obj.mobile;
        if(isblank(mobile)){
          alert("手机号为空，无法发送短信。");
        }
        else if(isMobile(mobile) === false ){
          alert("手机号不正确，无法发送短信。");
        }
        else{
          //  感谢您致电福润堂。蒋亚利您好！您的预约号是2015-5-16第2号。我们将为您提供优质的健康服务，地址：西安市丈八西路12号高科尚都（高新三中对面）电话：029-88157775

          var content =  "" + obj.name + "您好，感谢致电福润堂，您的预约号是：" +  obj.treat_date +
                        "第" + obj.index + "号。我们将为您提供优质的健康服务，地址：西安市丈八西路12号高科尚都（高新三中对面）电话：029-88157775";
          //console.log(content);
          var flag = confirm( "即将发送短信：\n【" + content + "】\n到 " + mobile + " ，请确认是否发送？");
          console.log(flag);
          if( flag ){
            var url = "http://m.5c.com.cn/api/send/index.php?";
            var apikey = "apikey=5660a6d52ee645c863cd1cb4f1de1c71";
            var username = "&username=furuntang";
            var pwd = "&password=g9csrqmwR";
            var encode = "&encode=1";
            var mobiles = "&mobile=" + mobile;
            content = "&content=" + encodeURIComponent( content, "utf-8");

            var full_url = url + apikey + username + pwd + encode + mobiles + content ;
            console.log(full_url);

            if( ! obj.hasOwnProperty("sms_num")){
              obj.sms_num = 0;
            }
            obj.sms_num += 1;
            $scope.saveBookingToFile();

            $http.get(full_url).
                  success(function(data, status, headers, config) {

                    alert("短信发送成功。");
                  }).
                  error(function(data, status, headers, config) {
                    alert("发送失败。请重新发送或者联系系统管理员。");
                  });
          }
        }   
      };

      
      $scope.goFill = function( patientNo ) {
        //console.log(patientNo);
        var tempObj = _.findWhere($scope.allCustomer, {"patient_no": patientNo});
        //console.log(tempObj);
        if(tempObj){
          // 设置值到输入框
          $scope.fields.patient_no = tempObj.patient_no;
          $scope.fields.name = tempObj.patient_name;
          $scope.fields.mobile = tempObj.mobile;
          $scope.fields.sex = tempObj.sex;
          $scope.fields.age = parseInt(tempObj.age);
          $scope.fields.remark = tempObj.remark;
          
          // 输入框变成  Readonly
          $scope.edit_area_ReadOnly = true;
        }
      };

      var getPatientNo = function(obj){
        var iRet = 0;
        if(obj.patient_no){
          var tempVal = parseInt(obj.patient_no);
          if( ! isNaN(tempVal) ){
            iRet = parseInt(obj.patient_no);
          }
        }
        return iRet ;
      };

      var getNewPatientNo = function(){

        var maxObj_A = _.max( $scope.allCustomer, getPatientNo);
        
        if(maxObj_A){
          maxNo_A = getPatientNo(maxObj_A);
        }else{
          alert("程序出错，请联系开发人员。");
        }

        return (maxNo_A+1); 
      };
      
      $scope.goNewPatient = function() {
          // 输入框变成 可编辑状态
          // 并且标识出这是一个新患者 或者更改了老患者的信息
          $scope.edit_area_ReadOnly = false;
          
          if( $scope.fields.patient_no === "0" ){
            // 设置更改标记为  insert
            $scope.fields.db_flag = "insert";
            // 生成病历号
            $scope.fields.patient_no = getNewPatientNo();
          }else{
            // 设置更改标记为  update
            $scope.fields.db_flag = "update";
          }      
        };

        $scope.goEditPatient = function() {
          $scope.goNewPatient();
        };

        $scope.goEdit = function( index ) {
          $scope.fields = _.clone($scope.datas.bookinglist[index]);
          if( ! $scope.fields.doctor_name ){
            $scope.fields.doctor_name = "张耀";
          }else if( $scope.fields.doctor_name === "" ){
            $scope.fields.doctor_name = "张耀";
          }

          $scope.show_date = getYMD($scope.selected_date);
          $scope.edit_area = true;
          $scope.edit_area_ReadOnly = true;

          //alert(document.getElementById("patient_no"));
          setTimeout(function(){
            var inputObj = document.getElementById("id_a");
            inputObj.focus();
            inputObj.select();
          },250);
        };

      $scope.addLine = function(linenum) {
        var startIndex = $scope.datas.bookinglist.length;

        for( i=0; i<linenum; i++ ){
          var obj = makeBlankLine($scope.selected_date);
          obj.index = i+startIndex+1;
          obj.case_no = getYMD( $scope.selected_date ) + "_" + (startIndex + i + 1);
          $scope.datas.bookinglist.push(obj);
        }
      };

      $scope.loadBooking();
        
        $scope.testFill = function() {
          $scope.fields.patient_id =  "00001";
          $scope.fields.case_id =  "00002";
          $scope.fields.mobile =  "13991300001";
          $scope.fields.name =  "李四四";
          $scope.fields.comment =  "经常来下午来。";

        };
      }

      debug_flag = 0;
      document.onkeydown = function(event) { 
        keynum = event.which;

      // 这一段是用来显示隐藏debug区的。
      if (keynum==192){

        if( debug_flag === 0 ){
          debug_flag++;
        }else if(debug_flag == 1 ){
          debug_flag++;
          document.getElementById('debug_area').style.display="";//显示
          
        }
        else if(debug_flag == 2 ){
          debug_flag = 0;
          document.getElementById('debug_area').style.display="none";//隐藏
        }

      }

      //alert(keynum);
      if (keynum==13){

        var temp_id = event.srcElement.id;
        if( temp_id ){
          var str_id = temp_id.substring(3); 


          var i_id = 0;
          try{
            i_id = parseInt(str_id);
          }catch(error){
            console.log("error:" , error );
            console.log("id:" , str_id );
          }
          var obj = document.getElementById('id_' + (i_id + 1) );
          if( obj ){
            obj.focus();
          }
          else{
            obj = document.getElementById( 'id_1' );
            obj.focus();
          }
        }
        else{
          console.log("not input." );
        }

    }
  };

</script>
</body>
</html>




