<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>福润堂 预约</title>
  
  <link rel="stylesheet" href="css/app.css">
  
  <script type="text/javascript" src="lib/angular.js"></script>
  <script type="text/javascript" src="node_modules/underscore/underscore.js"></script>
 
  <script type="text/javascript" src="js/FRT_booking.js"></script>
</head>
<body ng-app="inputApp" ng-controller="Ctrl" >
  <span id='debug_area' style='display:none;'> 开发人员专用区域，按  `  键(ESC键下面那个键)，就可隐藏。  
    <input type="button" value=" 测试:  " onclick="test001()"  />
    <input type="button" value=" 测试: 填充数据 " ng-click="test_fill()"  />
    <button ng-click="ifNoDB()" style="float:right;" >连接数据库</button>
    <button ng-click="getHistory()" style="float:right;" ng-Disabled="noDB" >获取病历</button>
    <button ng-click="saveToDB()" style="float:right;" ng-Disabled="noDB" ng-hide="datas.isUpload" >上传预约数据</button>
  </span>
  <h1 style="">
    福润堂 预约 
    
  </h1> 
  <div style="float:left;width:600px;">
    
    <span ng-show="datas.isUpload" style="color:red;">数据已经上传完成，不可以修改了。</span>
    <span ng-show="!noDB" style="float:right;color:blue;">已经连接数据库，可以上传数据了。</span>


    <input type="button" value="set color" ng-click="myStyle={color:'red'}">
<input type="button" value="set background" ng-click="myStyle={'background-color':'blue'}">
<input type="button" value="clear" ng-click="myStyle={}">
<br/>
<span ng-style="myStyle">Sample Text</span>
<pre>myStyle={{myStyle}}</pre>
    
    <span style="float:left;"   >
      选择日期：<input type="date" ng-model="selected_date" ng-change="loadBooking()" style="width:150px" />
      <button ng-hide="true"  ng-click="make_no()" > 生成病历号 </button>
    </span>

    <br/><br/>
    <table  style="" >
      <tr>
        <th style="width:45px;">预约编号</th>
        <th style="width:120px;">门诊号</th>
        <th style="width:65px;">病历号</th>
        <th style="width:60px;">姓名</th>
        <th style="width:60px;"></th>
        <th style="width:100px;">联系电话</th>  
        <th style="width:150px;">预约备注</th>
        <th style="width:40px;"></th>
        
      </tr>
      <tr ng-repeat="obj in datas.bookinglist track by obj.index" ng-style="show_color[obj.index]"  >
        <td align="center"  >  {{obj.index}}</td>
        <td>{{obj.case_no}}</td>
        <td>{{obj.patient_no}}</td>
        <td>{{obj.name}}</td>
        <td><input type="button" id="prt_{{obj.index}}" ng-click="goPrint( obj )"  value=" 打印 ">  </td>
        <td>{{obj.mobile}}</td>
        <td>{{obj.comment}}</td>
        <td><input type="button" ng-click="goEdit( $index )" ng-hide="datas.isUpload" value=" 修改 ">  </td>
        
      </tr>
    </table>
    <br/>
    <input type="button" ng-click="addLine(5)"  value=" 再加 5 行 ">
    <br><br>
    
    <br><br> 
  </div>

  <div class='to_top'  ng-show="edit_area" >
    <h3 style="">编辑预约信息</h3>
    预约日期：<input type="text"   ng-model="show_date"  readonly style="width:150px" />
    <br/>
    病历号:     <input  type="text" id="id_1"  ng-model="fields.patient_no"  style="width:80px" ng-readonly="edit_area_ReadOnly" /> 
    <br/>
    姓名:     <input  type="text" id="id_2"  ng-model="fields.name" style="width:60px" ng-readonly="edit_area_ReadOnly" required/> &nbsp;&nbsp;&nbsp;
    <br/>
    联系电话：<input type="tel" id="id_3" ng-model="fields.mobile" style="width:100px" ng-readonly="edit_area_ReadOnly" required />
    <br/>
    <input  type="hidden"   ng-model="fields.case_no"  style="width:80px" readonly />

    预约备注:     <textarea  ng-model="fields.comment"  id="id_4"     style="width:181px"   ></textarea><br/>

    <br>    
    <input type="button" value=" 保存 "  ng-click="saveBooking()"  /> 
    <input type="button" value=" 初次就诊 或 需修改信息 "  ng-click="goNewPatient()"  /> 
    <input type="button" value=" 取消 "  ng-click="hideEdit()" style="float:right;" />
    <br><br>

    <table width="100%">
      <tr><th colspan="6">搜索复诊患者信息</th></tr>
      <tr><th colspan="3">姓名: <input  type="text" id="id_a" ng-model="search_name" style="width:60px" autofocus /></th>
          <th colspan="3">联系电话：<input type="tel"  ng-model="search_mobile" style="width:100px" /></th></tr>
      <tr><th>编号</th><th>姓名</th><th>性别</th><th>年龄</th><th>电话</th><th></th></tr>
      
      <tr ng-repeat="custom in customers|filter: search_name|filter: search_mobile| limitTo: 10 ">
        <td>{{custom.patient_no}}</td>
        <td>{{custom.patient_name}}</td>
        <td>{{custom.sex}}</td>
        <td>{{custom.age}}</td>
        <td>{{custom.mobile}}</td>
        <td><button ng-click="goFill( custom.patient_no )">选定</button></td>
      </tr>
    </table>

    <br><br>  <br><br>  <br><br>  <br><br>  <br><br>  
    
  </div>
  <h1 id="auto_hide_msg" ng-show="flag_msg_show" >保存成功</h1>
  <input type="hidden" value=" 测试:  " ng-click="test002()"  />

  <script type="text/javascript">
  
  var inputApp = angular.module('inputApp', []);

  function Ctrl($scope) {
    $scope.fields = {};
    $scope.datas = {};
    $scope.datas.isUpload = false;
    $scope.noDB = true;
    $scope.flag_msg_show = false;
    

    $scope.edit_area = false;
    $scope.edit_area_ReadOnly = true;   // 这个flag同时用来Readonly和在保存时判断是否需要保存到 new_custom.json 中。
    $scope.show_date = '';

    $scope.show_color = [];
    $scope.show_color[4] = {'background-color':'#FE8'};
    $scope.show_color[10] = {'background-color':'#FE8'};
    $scope.show_color[11] = {'background-color':'#FE8'};
    $scope.show_color[14] = {'background-color':'#FE8'};
    $scope.show_color[17] = {'background-color':'#FE8'};
    $scope.show_color[18] = {'background-color':'#FE8'};
    $scope.show_color[23] = {'background-color':'#FE8'};
    $scope.show_color[24] = {'background-color':'#FE8'};
    $scope.show_color[25] = {'background-color':'#FE8'};
    $scope.show_color[34] = {'background-color':'#FE8'};
    

    $scope.fields.patient_id= ""
    $scope.fields.case_id= ""
    

    var objDate = new Date(); 
    //$scope.fields.treat_date = objDate;
    // 日期加一天，预约一般都是预约明天的。
    $scope.selected_date = new Date(objDate.valueOf() + 1 * 24 * 3660 * 1000);

    // 读入所有Customer 信息
    $scope.customers = readFileToJson("./data/allCustomer.json");

    $scope.loadBooking = function() {
      $scope.datas = getBooking($scope.selected_date);
    };


    $scope.saveBooking = function() {

      var aStr = JSON.stringify($scope.datas);
      // console.log( "$scope.datas = ###" + aStr + "###" );
      // Write a file:
      fs.writeFileSync( getBookingFilename($scope.selected_date), aStr);
      //confirm("保存成功" );

      // 如果是新来的病人，或者信息有修改，保存内容到  new_custom.json 文件中。
      if( $scope.edit_area_ReadOnly == false ){
        appendToJsonFile( "data/new_custom.json", $scope.fields );
      }

      $scope.flag_msg_show = true;
      setTimeout(function(){
                              $scope.flag_msg_show = false;
                              $scope.$apply();
                            },1000);


      //$scope.loadBooking();
      $scope.fields = {};
      $scope.edit_area = false;
    };

    
    $scope.hideEdit = function() {
      $scope.fields = {};
      $scope.edit_area = false;
    }

    $scope.setColor = function( index_num ) {
      return  'style=""';
    }

    $scope.goPrint = function(obj){
      //alert(obj.index);
      //var objBtn = document.getElementById("prt_" + obj.index);
      //objBtn.style.color = "red";
      obj.comment = "已经打印  " + obj.comment;
      var aStr = JSON.stringify($scope.datas);
      fs.writeFileSync( getBookingFilename($scope.selected_date), aStr);

      window.open("print.html?" + obj.index + ","+ obj.name + ","+ obj.case_no 
                , "Print", "width=200,height=320,location=no,directories=no,menubar=no,resizable=no,toolbar=no");
    }

    
    $scope.goFill = function( patientNo ) {
      
      var tempObj = _.findWhere($scope.customers, {"patient_no": patientNo});
      if(tempObj){
        // 设置值到输入框
        $scope.fields.patient_no = tempObj.patient_no;
        $scope.fields.name = tempObj.patient_name;
        $scope.fields.mobile = tempObj.mobile;
        
        // 输入框变成  Readonly
        $scope.edit_area_ReadOnly = true;
      }
    }

    
    $scope.goNewPatient = function( patientNo ) {
        // 输入框变成 可编辑状态
        // 并且标识出这是一个新患者 或者更改了老患者的信息
        $scope.edit_area_ReadOnly = false;
    }

    $scope.goEdit = function( index ) {
      $scope.fields = $scope.datas.bookinglist[index];
      $scope.show_date = getYMD($scope.selected_date);
      $scope.edit_area = true;
      
      //alert(document.getElementById("patient_no"));
      setTimeout(function(){
                              var inputObj = document.getElementById("id_a");
                              inputObj.focus();
                              inputObj.select();
                           },250);
      

      // console.log( "$scope.datas.bookinglist = ###" + JSON.stringify($scope.datas.bookinglist) + "###" );

      };

      $scope.addLine = function(linenum) {
        var startIndex = $scope.datas.bookinglist.length;
        
        for( i=0; i<linenum; i++ ){
          var obj = makeBlankLine($scope.selected_date);
          obj.index = i+startIndex+1;
          obj.case_no = getYMD( $scope.selected_date ) + "_" + (startIndex + i + 1);
          $scope.datas.bookinglist.push(obj);
        }
      };

      // 此函数暂时没有用
      $scope.saveToDB = function() {
        $scope.datas.isUpload = true;
        var conn = getConn();
        conn.connect();
        
        var strBookingDate = getYMD($scope.selected_date);;
        // 检查是否已经上传了这一天的数据，不允许重复上传。
        var strSQL = "select count(booking_date) as haveNum from t_booking where booking_date='" + strBookingDate + "'";
        conn.query(strSQL, function(err, result) {
            if (err) throw err;
            console.log('The result number is: ', result[0].haveNum);
            if( result[0].haveNum == 0 ){
                var objList = $scope.datas.bookinglist
                for( i=0; i<objList.length; i++ ){
                  var obj = objList[i];
                  console.log(obj.name);

                  if(!isblank(obj.name)){
                    
                    var strSQL2 =  "insert into t_booking ( booking_date, booking_index, name, "
                              + "patient_no, case_no, mobile, comment, treat_date) values "
                              + "('"+ obj.treat_date +"','"+ obj.index +"','"+ obj.name +"','"
                              + obj.patient_no +"','"+ obj.case_no +"','"+ obj.mobile +"','"
                              + obj.comment +"','"+ obj.treat_date +"')";
                
                    conn.query(strSQL2, function(err, result) {
                        if (err) {
                          console.log( err);
                          //console.log('strSQL2 :', strSQL2);
                          throw err;
                        }
                        console.log('The result.id is: ', result.insertId );
                        
                    });
                  }
                }
                $scope.saveBooking();
                conn.end();

            }else{
                alert("预约信息已经在数据库中存在了，不可重复上传！");
            }
        });
        //$scope.saveBooking();
        //$scope.loadBooking();
                
      };

      /*  测试数据库是否可访问   */
      $scope.ifNoDB = function (){
        var conn = getConn();
        conn.connect();

        conn.query('SELECT * from t_setting', function(err, rows, fields) {
          if (err) {
            $scope.noDB = true;
            $scope.$apply();
            //console.log("XXXXXXXXXXXXXX" + $scope.noDB );
          }else{
            $scope.noDB = false;
            $scope.$apply();
            //console.log("OOOOOOOOOOOOOO" + $scope.noDB );
          }

        });
        conn.end();
      };

      $scope.loadBooking();
      
      // 生成病历号和门诊号。
      $scope.make_no = function() {
        //循环
        //
        
      };

      // 根据电话号码，找出患者信息。
      $scope.findInfo = function() {

        var database = {};
        var strFilename = "data/database.json"
        if(fs.existsSync( strFilename) ){
          var strBookingList = fs.readFileSync(strFilename);
          database = JSON.parse(strBookingList);
          //console.log(database);
          var findObj = {};
          findObj.mobile = $scope.fields.mobile;
          var tempObj = _.findWhere(database.patient_list, findObj );
          

          if(tempObj){
            $scope.fields.name = tempObj.patient_name;
            $scope.fields.patient_no = tempObj.patient_no;
            $scope.fields.comment = tempObj.comment;
          }else{
            // todo  新患者提示
          }
          
        }else{
          // todo  出错提示，存放患者信息的json文件不存在。
        }
        
      };

      $scope.test002 = function() {
        //$scope.datas.isUpload = true;
        
      };

      $scope.testFill = function() {
        $scope.fields.patient_id =  "00001";
        $scope.fields.case_id =  "00002";
        $scope.fields.mobile =  "13991300001";
        $scope.fields.name =  "李四四";
        $scope.fields.comment =  "经常来下午来。";

      };
    }

  debug_flag = 0;
  document.onkeydown = function(event) { 
    keynum = event.which;

    // 这一段是用来显示隐藏debug区的。
    if (keynum==192){
      
      if( debug_flag == 0 ){
        debug_flag++;
      }else if(debug_flag == 1 ){
        debug_flag++;
        document.getElementById('debug_area').style.display="";//显示
        
      }
      else if(debug_flag == 2 ){
        debug_flag = 0;
        document.getElementById('debug_area').style.display="none";//隐藏
      }
        
    }

    //alert(keynum);
    if (keynum==13){
        
        var temp_id = event.srcElement.id;
        if( temp_id ){
          var str_id = temp_id.substring(3); 
          //console.log("id:" , str_id );
          var i_id = new Number(str_id);
          var obj = document.getElementById('id_' + (i_id + 1) );
          if( obj ){
            obj.focus();
          }
          else{
            obj = document.getElementById( 'id_1' );
            obj.focus();
          }
        }
        else{
          console.log("not input." );
        }
        
    }
  };

    </script>
  </body>
  </html>




