<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>福润堂 预约</title>
  
  <link rel="stylesheet" href="css/app.css">
  
  <script type="text/javascript" src="lib/angular.js"></script>
  <script type="text/javascript" src="lib/angular-route.js"></script>
  <script type="text/javascript" src="js/common.js"></script>
</head>
<body ng-app="inputApp" ng-controller="Ctrl" >
  <h1 style="">
    福润堂 预约 
    <button ng-click="saveToDB()" style="float:right;" >上传预约数据</button>
  </h1> 
  <div style="float:left;width:500px;">
    选择日期：<input type="date"   ng-model="selected_date" required style="width:150px" ng-change="loadBooking()" />
    <br/><br/>
    <table  style="width:500px;" >
      <tr>
        <th style="width:45px;">编号</th>
        <th style="width:100px;">姓名</th>
        <th style="width:100px;">联系电话</th>
        <th>备注</th>
        <th style="width:45px;"></th>
      </tr>
      <tr ng-repeat="obj in datas.bookinglist track by obj.index">
        <td align="center">{{obj.index}}</td>
        <td>{{obj.name}}</td>
        <td>{{obj.mobile}}</td>
        <td>{{obj.comment}}</td>
        <td><input type="button" ng-click="goEdit( $index )" id="btn_edit_$index" value=" 修改 ">  </td>
      </tr>
    </table>
    <br/>
    <input type="button" ng-click="addLine(5)"  value=" 再加 5 行 ">
    <br><br>
    
    <br><br> 
  </div>

  <div class='to_top'  ng-show="edit_area" >
    <h2 style="">编辑预约信息</h2>
    预约日期：<input type="text"   ng-model="show_date"  readonly style="width:150px" />
    <br/>
    联系电话：<input type="tel" ng-model="fields.mobile" style="width:100px" required />
    <br/>
    姓名:     <input  type="text"   ng-model="fields.name" style="width:60px"  required/> &nbsp;&nbsp;&nbsp;

    <input  type="hidden"    ng-model="fields.patient_id"  style="width:80px" readonly /> 
    <input  type="hidden"    ng-model="fields.case_id"  style="width:80px" readonly />
    &nbsp;&nbsp;&nbsp;
    <br/>


    备注:     <textarea  ng-model="fields.comment"      style="width:181px"   ></textarea><br/>

    <br>    
    <input type="button" value=" 保存 "  ng-click="saveBooking()"  />


    <br><br>  <br><br>  <br><br>  <br><br>  <br><br>  
    <input type="hidden" value=" 测试: 填充数据 " ng-click="testFill()"  />
  </div>
  
  <script type="text/javascript">
  
  var inputApp = angular.module('inputApp', []);

  function Ctrl($scope) {
    $scope.fields = {};
    $scope.datas = {};
    $scope.edit_area = false;
    $scope.show_date = '';

    $scope.fields.patient_id= ""
    $scope.fields.case_id= ""
    

    var objDate = new Date(); 
    //$scope.fields.treat_date = objDate;
    // 日期加一天，预约一般都是预约明天的。
    $scope.selected_date = new Date(objDate.valueOf() + 1 * 24 * 3660 * 1000);

    $scope.loadBooking = function() {
      $scope.datas = getBooking($scope.selected_date);
    };


    $scope.saveBooking = function() {

      var aStr = JSON.stringify($scope.datas);
      console.log( "$scope.datas = ###" + aStr + "###" );
      // Write a file:
      fs.writeFileSync( getBookingFilename($scope.selected_date), aStr);
      confirm("保存成功");

      $scope.loadBooking();
      $scope.fields = {};
      $scope.edit_area = false;
    };

    $scope.goEdit = function( index ) {
      $scope.fields = $scope.datas.bookinglist[index];
      $scope.show_date = getYMD($scope.selected_date);
      $scope.edit_area = true;

      console.log( "$scope.datas.bookinglist = ###" + JSON.stringify($scope.datas.bookinglist) + "###" );

        //document.getElementById('btn_edit_'+index).style = 'display:none' ;
        //alert(index);
      };

      $scope.addLine = function(linenum) {
        var startIndex = $scope.datas.bookinglist.length;
        
        for( i=0; i<linenum; i++ ){
          var obj = makeBlankLine($scope.datas.selected_date);
          obj.index = i+startIndex+1;
          $scope.datas.bookinglist.push(obj);
        }
      };

      $scope.saveToDB = function() {
        
        var conn = getConn();

        var obj = $scope.datas.bookinglist[0];
        var strSql =  "insert into t_booking ( booking_date, booking_index, name, "
                    + "patient_id, case_id, mobile, comment, treat_date) values "
                    + "('"+ obj.treat_date +"','"+ obj.index +"','"+ obj.name +"','"
                    + obj.patient_id +"','"+ obj.case_id +"','"+ obj.mobile +"','"
                    + obj.comment +"','"+ obj.treat_date +"')";
        
        conn.connect();
        conn.query(strSql, function(err, result) {
            if (err) throw err;
            console.log('The result.id is: ', result.insertId);
        });
        conn.end();
      };


      $scope.loadBooking();

      $scope.test002 = function() {
        //alert($scope.fields.treat_date);
        alert(  );
      };

      $scope.testFill = function() {
        $scope.fields.patient_id =  "00001";
        $scope.fields.case_id =  "00002";
        $scope.fields.mobile =  "13991300001";
        $scope.fields.name =  "李四四";
        $scope.fields.comment =  "经常来下午来。";

      };
    }


    </script>
  </body>
  </html>




